@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

body,
html {
  padding: 0px;
  margin: 0px;
  overflow: auto;
}

.main_root {
  position: relative;
  overflow: hidden;
}
.common {
  font-family: "Noto Sans KR";
  /* background-color: rgb(240, 238, 233); */
}

.pb16 {
  padding-bottom: 16px;
}
.pb18 {
  padding-bottom: 18px;
}
.pb24 {
  padding-bottom: 24px;
}
.pb36 {
  padding-bottom: 36px;
}

.lh {
  line-height: 1.6;
  letter-spacing: 0.2px;
  white-space: pre-line;
  font-weight: 300;
}

.chat_font_sm {
  font-size: small;
}

.intro_lh {
  line-height: 1.35;
  letter-spacing: 0.2px;
  white-space: pre-line;
  color: rgb(53, 53, 53);
  font-weight: 300;
}

.save_image_wrapper {
  width: 600px;
  box-sizing: border-box;
  background: #fff;

  height: auto;
  overflow: visible;

  position: relative;
  overflow: hidden;

  padding: 32px 32px 48px 32px; /* ✅ bottom 8px -> 48px */
}

.save_image_title {
  font-size: 2rem;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 700;
  /* width: 730px; */
  text-align: center;
}
.save_image_title_sub {
  /* padding-bottom: 50px; */
  /* width: 730px; */
  text-align: center;
  font-size: 1.6rem;
}
.save_image_emoji {
  font-size: 2.8rem;
  margin-top: 24px;
  margin-bottom: 24px;
  letter-spacing: 16px;
}

.save_image_chat {
  line-height: 1.6;
  font-size: 1rem;
}

.save_image_hide {
  position: absolute; /* ✅ fixed 금지 */
  top: 0;
  left: -99999px; /* ✅ 화면 밖 */
  width: 600px; /* ✅ 캡처 폭 고정 */
  height: auto; /* ✅ 100% 금지 */
  overflow: visible; /* ✅ 잘림 방지 */
}
/* =================================================== */

/* =================================================== */

.description_wrapper {
}

.description {
  margin-bottom: 24px;
  letter-spacing: 0.7px;
  font-weight: 350;
}
/* =================================================== */
.slide-up-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

/* 애니메이션 효과를 적용할 요소 */
.slide-up {
  /* line-height: 100px; */
  /* color: white; */
  /* font-size: 24px; */
  border-radius: 10px;

  /* 애니메이션 정의 */
  animation: slideUp 0.5s ease-out forwards;
}

/* keyframes를 이용해 아래에서 위로 슬라이드되는 효과를 정의 */
@keyframes slideUp {
  from {
    transform: translateY(100%); /* 시작 위치 (요소가 아래에서 시작) */
    opacity: 0; /* 시작할 때 요소가 보이지 않음 */
  }
  to {
    transform: translateY(0); /* 최종 위치 (요소가 위로 이동하여 위치 고정) */
    opacity: 1; /* 애니메이션이 끝날 때 요소가 완전히 보임 */
  }
}

/* 기본 애니메이션 스타일 */
.fade-in-slide-down {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

/* 활성화되었을 때 보이는 스타일 */
.fade-in-slide-down.active {
  opacity: 1;
  transform: translateY(0);
}
