@media screen and (max-width: 1023px) {
  .wrapper {
    /* text-align: center;
    width: 100%;
    overflow: visible;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255); */
    text-align: center;
    width: 50%;
    padding-left: 25%;
    padding-right: 25%;
    height: 100vh;
    display: flex;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* min-width: 300px; */
  }

  .main_content {
    /* height: calc(100% - 50px); */
    height: 100%;
    display: flex;
    place-items: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
  }

  .main_page_content {
    margin-top: 20px;
  }

  .main_wrapper {
    width: 100vw;
    height: 100vh;
  }

  .page_wrapper {
  }
  .title-wrapper {
    margin-top: 40px;
  }
  .title {
    padding-top: 16px;
    font-size: 32px;
    font-weight: 500;
    /* padding-bottom: 3px; */
    /* width: 730px; */
    text-align: center;
  }
  .title_sub {
    font-size: 26px;
    /* padding-bottom: 30px; */
    /* width: 730px; */
    text-align: center;
  }
  .chat {
    padding-left: 8vw;
    padding-right: 8vw;
    /* height: 54vh; */
    /* overflow-y: auto; */
    /* height: calc(100vh - 55vh); */
  }
  .lh {
    line-height: 1.6;
  }
  .emoji {
    font-size: 40px;
    letter-spacing: 16px;
    padding: 16px;
  }

  .cute-button {
    background: linear-gradient(135deg, #000000, #000000);
    border: none;
    border-radius: 50px;
    letter-spacing: 2px;

    padding: 8px 40px;
    font-size: 1.2rem;
    /* font-weight: bold; */
    color: #ffffff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    outline: none;
  }

  .cute-button:hover {
    background: linear-gradient(135deg, #000000, #000000);
    transform: scale(1.1);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  }

  .cute-button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .cute-button:disabled {
    background: linear-gradient(135deg, #888888, #bbbbbb);
    color: #cccccc;
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
    text-shadow: none;
    opacity: 0.6; /* 흐리게 처리 */
  }

  .simple-input {
    width: 100%;
    max-width: 240px;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }

  .simple-input:focus {
    border-color: #000000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }

  .child {
    /* z-index: -1; */
    /* position: absolute;
    top: 54%;
    left: 50%;
    bottom: 24px;
    transform: translate(-50%, -50%);
    height: 100vh; */
  }
  .child_p {
    /* margin-top: 80vh; */
    /* height: fit-content; */
  }

  .pb16 {
    padding-bottom: 16px;
  }

  .songtak {
    /* position: absolute;
    top: 96vh;
    left: 50%;
    bottom: 24px;
    transform: translate(-50%, -50%); */
    margin-bottom: 16px;
  }
  .jw {
    /* overflow-y: auto; */
    padding-top: 24px;
    /* max-height: 78vh; */
    padding-left: 8vw;
    padding-right: 8vw;
  }
  .jw::-webkit-scrollbar {
    display: none; /* 스크롤바 숨김 */
  }
  .jw-button {
    margin-top: 40px;
    background: linear-gradient(135deg, #000000, #000000);
    border: none;
    letter-spacing: 2px;

    border-radius: 50px;
    padding: 12px 40px;
    font-size: 0.7rem;
    /* font-weight: bold; */
    color: #ffffff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    outline: none;
  }

  .jw-button:hover {
    background: linear-gradient(135deg, #000000, #000000);
    transform: scale(1.1);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  }

  .jw-button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .save_icon {
  }
  .save_icon:hover {
    cursor: pointer;
  }

  .tooltip_wrapper {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  .tooltip .tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 5px 10px;

    /* Positioning */
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position above the element */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
  }

  .tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
}
