@media all and (min-width: 1024px) {
  .wrapper {
    text-align: center;
    width: 50%;
    padding-left: 25%;
    padding-right: 25%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
  }

  .main_wrapper {
    width: 600px;
  }

  .main_content {
    /* height: 100%; */
  }
}
